body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 14px;
}

.divider {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}

.link {
  font-size: 18px;
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
}

.footer_link {
  color: white;
}

#copyright {
  font-size: 11px;
  color: white;
}
